<nav class="navbar">
        <div class="navbar-main-content">
            <div class = "logo"><a href = "/">HAGGAI'S  
                FIT</a></div>
            <div class="shopping-tools">
                <div class="user-account">
                    <img src = "{{ url_for('static', filename = 'img/user-2-svgrepo-com 1.svg') }}" />
                    <p class = "shopping-tool-button">My Account</p>
                </div>
                <div class="wishlist">
                    <img src = "{{ url_for('static', filename = 'img/save-wishlist-like-favorite-svgrepo-com 1.svg')}}" />
                    <p class = "shopping-tool-button">Wishlist</p>
                </div>
                <div class="cart">
                    <img src = "{{ url_for('static', filename = 'img/cart-svgrepo-com 1.svg') }}" />
                    <p class = "shopping-tool-button">Cart</p>
                </div>
            </div>
            <div class="menu">
                <img src = "{{ url_for('static', filename = 'img/menu alt 1 1.svg')}}" />
                <p>Menu</p>
            </div>
        </div>
        <div class="navbar-bottom"></div>
        <div class="menu-overlay">
            <div class="menu-overlay-content">
                <img class = "menu-arrow" src = "{{ url_for('static', filename = 'img/Red_Arrow_Down.svg')}}" alt="red arrow">
                <div class = "menu-link"><a href = "/products">General Clothing</a></div>
                <div class = "menu-link"><a href="/women">Women</a></div>
                <div class = "menu-link"><a href="/men">Men</a></div>
                <div class = "menu-link"><a href="/feedback">Feedback</a></div>
            </div>
        </div>
    </nav>