<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/styles.css')}}" >
    <script src = "{{ url_for('static', filename = 'JS/navBarLogic.js')}}" defer></script>
    <title>Cart</title>
</head>
<body>
    {% include 'partials/navbar.html' %}
    <section id="checkout-main-content">
        <div id = "cart-title">
            MY CART
        </div>
        <div id = "shopping-items">
            <div id = "shopping-cart">
                <div class="checkout-item">
                    <div class = "checkout-item-image">
                        <img src = "{{ url_for('static', filename = 'img/')}}" alt = "product image" />
                    </div>
                    <div class="checkout-item-details">
                        <h4>DETAILS</h4>
                        <p>Name: </p>
                        <p>Price: </p>
                        <p>Category: </p>
                    </div>
                </div>
            </div>
            <div id = "total-and-checkout">
                <h3 id = "total-price">Total Price: <br> K{{ total_price}}</h3>
                <button id = "move-to-wishlist-button">Move Items to Wishlist</button>
                <button id = "to-checkout-button">Go to Checkout</button>
                
            </div>            
        </div>
    </section>
    
    <footer class="footer">
        <div class="footer-top"></div>
        <div class="footer-copyright">
            <p>&copy; haggaisfit.com - All Rights Reserved 2025</p>
        </div>
    </footer>
</body>
</html>