<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/styles.css')}}" >
    <script src = "{{ url_for('static', filename = 'JS/navBarLogic.js')}}" defer></script>
    <title>Home</title>
</head>
<body>
    {% include 'partials/navbar.html' %}
    <section id="main-content">
        
        <div id="new-arrivals">
            <div id="main-new-arrival">
                <div class = "welcome"></div>
            </div>
            <div id="sub-new-arrivals">
                <div id="sub-new-arrival-title">
                    New Arrivals
                </div>
                <div id="sub-new-arrival-content">
                        <img src="{{ url_for('static', filename = 'img/cottontrousers.jpeg')}}" alt="Men Product 4">
                        <img src="{{ url_for('static', filename = 'img/altshirt1.jpeg')}}" alt="Men Product 4">
                        <img src="{{ url_for('static', filename = 'img/cottontrousers2.jpeg')}}" alt="Men Product 5">
                        <img src="{{ url_for('static', filename = 'img/distressedshirt.jpeg')}}" alt="Men Product 5">
                        <img src="{{ url_for('static', filename = 'img/chainedpants.jpeg')}}" alt="Men Product 6">
                        <img src="{{ url_for('static', filename = 'img/bfmvshirt.jpeg')}}" alt="Men Product 6">
                        <img src="{{ url_for('static', filename = 'img/militaryjacket.jpeg')}}" alt="Men Product 6">
                        <img src="{{ url_for('static', filename = 'img/spikednecklace.jpeg')}}" alt="Men Product 4">
                    </div>
            </div>
        </div>
        <a href = "/feedback" id="feedback-link">
                <p id="feedback-link-text-1">HAVE SOME FEEDBACK?</p>
                <p id="feedback-link-text-2">
                    CLICK HERE TO LET US KNOW WHAT’S ON YOUR MIND 
                </p>
        </a>
        <div id="popular-items">
            <div id="popular-items-title">POPULAR ITEMS</div>
            <div id="popular-item-content">
                <div class="popular-item"></div>
                <div class="popular-item"></div>
                <div class="popular-item"></div>
                <div class="popular-item"></div>
                <div class="popular-item"></div>
                <div class="popular-item"></div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-top"></div>
        <div class="footer-copyright">
            <p>&copy; haggaisfit.com - All Rights Reserved 2025</p>
        </div>
    </footer>
</body>
</html>