<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/styles.css')}}" >
    <script src = "{{ url_for('static', filename = 'JS/navBarLogic.js')}}" defer></script>
    <title>Men</title>
</head>
<body>  
    <!-- Navigation Bar -->
    {% include 'partials/navbar.html' %}

        <section class="banner">
            <img src="{{ url_for('static', filename = 'img/menmain.jpeg')}}" alt="Men's Banner">
        </section>


    <!-- Main Content -->
    <section id="mens-main-content">
        <div id="product-page">
            
            <!-- Men Section -->
            <section id="men">
                <h1>Men's Collection</h1>
                <div class="products">
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/menjacket.webp')}}" alt="Men Product 1">
                        <h3>Gothic Stand Collar Jacket (Black)</h3>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/jacket.jpeg')}}" alt="Men Product 2">
                        <h3>Spiked Jacket</h3>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/bikerjacket.jpeg')}}" alt="Men Product 3">
                        <h3>Biker Jacket</h3>
                    </div>
                </div>

                <div class="products">
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/cottontrousers.jpeg')}}" alt="Men Product 4">
                        <h3>Goth Trousers</h3>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/cottontrousers2.jpeg')}}" alt="Men Product 5">
                        <h3>Black Trousers</h3>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/chainedpants.jpeg')}}" alt="Men Product 6">
                        <h3>Chained Trousers</h3>
                    </div>
                </div>

                <div class="products">
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/altshirt1.jpeg')}}" alt="Men Product 4">
                        <h3>Red Heart Shirt</h3>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/distressedshirt.jpeg')}}" alt="Men Product 5">
                        <h3>Distressed Shirt</h3>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/bfmvshirt.jpeg')}}" alt="Men Product 6">
                        <h3>BFMV Shirt</h3>
                    </div>
                </div>

                <div class="products">
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/spikednecklace.jpeg')}}" alt="Men Product 4">
                        <h3>Spiked Necklace</h3>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/skullbandring.jpeg')}}" alt="Men Product 5">
                        <h3>Skull Band Ring</h3>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/machinist.jpeg')}}" alt="Men Product 6">
                        <h3>Machinist Ring</h3>
                    </div>
                </div>
            </section>

        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-top"></div>
        <div class="footer-copyright">
            <p>&copy; haggaisfit.com - All Rights Reserved 2025</p>
        </div>
    </footer>
</body>
</html>
