<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/styles.css')}}" >
    <script src = "{{ url_for('static', filename = 'JS/navBarLogic.js')}}" defer></script>
    <title>Product Page</title>
</head>
<body>  
    <!-- Navigation Bar -->
    {% include 'partials/navbar.html' %}

    <!-- Main Content -->
    <section id="products-main-content">
        <div id="product-page">

            <!-- Men Section -->
            <section id="men">
                <h2><a href = "/men">Men</a></h2>
                <div class="products">
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/mens formal trousers.png')}}" alt="Men Product 1">
                        <p>Popular</p>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/mens black long sleeve shirt.png')}}" alt="Men Product 2">
                        <p>Popular</p>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/mens navy gym shirt.png')}}" alt="Men Product 3">
                        <p>Popular</p>
                    </div>
                </div>
            </section>

            <!-- Women Section -->
            <section id="women">
                <h2><a href = "/women">Women</a></h2>
                <div class="products">
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/black dress.jpeg')}}" alt="Women Product 1">
                        <p>Popular</p>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/animal print vest.png')}}" alt="Women Product 2">
                        <p>Popular</p>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/pink dress.jpg')}}" alt="Women Product 3">
                        <p>Popular</p>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-top"></div>
        <div class="footer-copyright">
            <p>&copy; haggaisfit.com - All Rights Reserved 2025</p>
        </div>
    </footer>
</body>
</html>
