<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/styles.css')}}" >
    <script src = "{{ url_for('static', filename = 'JS/navBarLogic.js')}}" defer></script>
    <title>Women</title>
</head>
<body>  
    <!-- Navigation Bar -->
    {% include 'partials/navbar.html' %}

        <section class="banner">
            <img src="{{ url_for('static', filename = 'img/womenmain.jpeg')}}" alt="woman's Banner">
        </section>

    <!-- Main Content -->
    <section id="womens-main-content">
        <div id="product-page">
            
            <!-- Women Section -->
            <section id="women">
                <h1>Women's Collection</h1>
                <div class="products">
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/boot1.jpeg')}}" alt="Women Product 1">
                        <h3>Knee High Spiked Buckle Vegan Leather Boots (Widow - Black)</h3>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/boot2.jpeg')}}" alt="Men Product 2">
                        <h3>Thigh-high Boots (Black)</h3>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/gothdress.webp')}}" alt="women Product 3">
                        <h3>Goth Dress (Black)</h3>
                    </div>
                </div>

                <div class="products">
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/pants1.jpeg')}}" alt="women Product 4">
                        <h3>Monster Pants (Black)</h3>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/Distressed Jeans.jpeg')}}" alt="women Product 5">
                        <h3>Distressed Jeans</h3>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/nirvana.jpg')}}" alt="women Product 6">
                        <h3>Nirvana Shirt (Grey)</h3>
                    </div>
                </div>

                <div class="products">
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/Chain Pants (Brown).jpeg')}}" alt="Men Product 4">
                        <h3>Chain Pants (Brown)</h3>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/thecure.webp')}}" alt="Men Product 5">
                        <h3>The Cure Shirt (Black)</h3>
                    </div>
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'img/militaryjacket.jpeg')}}" alt="Men Product 6">
                        <h3>Military Rocker Jacket (Brown)</h3>
                    </div>
                </div>

            </section>

        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-top"></div>
        <div class="footer-copyright">
            <p>&copy; haggaisfit.com - All Rights Reserved 2025</p>
        </div>
    </footer>
</body>
</html>
